{% extends "layouts/base.html" %}

{% block pagetitle %}Editar cliente{% endblock pagetitle %}

{% block content %}
  <div class="main-container">
    <div class="form-container">
      <h3>Editando cliente</h3>

      <form action="{% url 'clients:edit_client' client.id %}" method='post'>
        {% csrf_token %}
        {% for field in form %}
          <div>
            {{ field }}
          </div>
        {% endfor %}

        <a href="{% url 'clients:delete_client' client.id %}" class="btn btn-secondary red-color">
          <span>Eliminar cliente</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
        </a>
        <button name="submit" class="btn primary-btn">
          <span>Guardar cambios</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M9 12l2 2l4 -4" /></svg>
        </button>
      </form>
    </div>
  </div>
  

{% endblock content %}


